<!-- Intestazione della pagina -->
<div class="container-fluid bg-light py-3">
  <h1 class="text-center">POKEKOLLECT</h1>
  <nav class="nav justify-content-center">
    <a class="nav-link active" aria-current="page" href="#">PokeKollect</a>
    <a class="nav-link" href="#">DexPoke</a>
    <a class="nav-link" href="#">Squads</a>
    <a class="nav-link" href="#">StorePoke</a>
    <a class="nav-link" href="#">Kredit Store</a>
  </nav>
</div>

<!-- Sezione della tabella -->
<div class="container mt-4">
  <div class="row justify-content-end">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pokemon of paginatedPokemons">
              <td>{{ pokemon.name }}</td>
              <td>{{ pokemon.type }}</td>
              <td><img [src]="pokemon.image" alt="Image of {{ pokemon.name }}" class="pokemon-image"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-2">
        <button class="btn btn-primary" *ngIf="currentPage > 1" (click)="onPageChange(currentPage - 1)">Previous</button>
        <div class="page-info mx-auto">
          Page {{ currentPage }} of {{ totalPages }}
        </div>
        <button class="btn btn-primary ml-auto" *ngIf="currentPage < totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
      </div>
    </div>
  </div>
</div>
